html, body {
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    padding: 20px;
}

.footer {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: lightgray;
}

.bubble {
    margin-left: 40px;
    padding: 20px;
}

.likes-panel {
    margin: 12px 0;
}

.likes-panel form {
    display: inline-grid;
    margin-right: 6px;
}

